The Generics Assignment is to convert a non-generic Java class into a generic Java class and demonstrate functionality by instantiating with several different types. The source code for the non-generic class came from GeeksForGeeks A Computer Science Portal for Geeks. The source code for the Doubly Linked List example in Java was copied, modified to move the attributes to the bottoms of classes, make the attributes private to support information hiding, and comments changed from C to Java style and then saved in this Java source file. The DLL class is written as a Doubly Linked List of integers.  Modify the class to be generic and demonstrate with the following elements of the three types:

Integer: 1, 5, 10

Double: 2.0, 6.0, 12.0

String: "Dog", "Cat", "Horse"
